{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
  <h1>Hello there {{ user.first_name }} {{ user.last_name }}!</h1>
  <p>First Name: {{ user.first_name }}</p>
  <p>Last Name: {{ user.last_name}}</p>
  <p>Email: {{ user.email }}</p>
  <p><a href="{% url 'users:logout' %}">Log Out</a></p>
  {% comment %}<p><a href="{% url 'users:password' %}">Change Password</a></p>{% endcomment %}
  
{% else %}
  <p>You are not logged in.</p>
  <a href="{% url 'users:login' %}">Log In</a>
  <br>
  {% comment %}<a href="{% url 'users:password_reset' %}">Forgot Password?</a>{% endcomment %}
  <p>Don't have an account? Register <a href="{% url 'users:register' %}"> here!</a></p>
{% endif %}
{% endblock %}

{% block title %}Home{% endblock %}

{% comment %} <h1>Successfully Logged In!</h1>
<h2>Welcome, {{'first_name'}} {{'last_name'}}</h2> {% endcomment %}