{% extends 'base.html' %}
{% load static %}
{% block title %}{{profile.first_name}}'s Profile{% endblock title %}
{% block content %}


<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: #4d94ff; height:200px;">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                <img src="{{profile.avatar.url}}"
                  class="img-fluid img-thumbnail mt-4 mb-2"
                  style="max-height:120px;width:130px;">
                  <br>
                
              </div>
              <div class="ms-3" style="margin-top: 130px;">
                <h5>{{profile.first_name}} {{ profile.last_name}}</h5>
                <p>Followers: {{ profile.following.count }} | Following: {{ profile.followers.count }}</p>
              </div>
            </div>
            <div class="p-4 text-black" style="background-color: #f8f9fa;">
              <div class="d-flex justify-content-end text-center py-1">
                <div>
                  {% if user.is_authenticated and user == profile%}
                <a href="{% url 'users:modifyProfile' %}"class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                  style="z-index: 1;">
                  Edit profile
                </a>
                {% elif user.is_authenticated %}
                <form action="{% url 'users:followToggle' profile.id %}" method='POST'>
                  {% csrf_token %}
                  {% if isFollowed %}
                      <button type='submit' class="btn btn-outline-dark" style="z-index: 1;" data-mdb-ripple-color="dark", name='user_id', value='{{profile.id}}',
                      class ="btn btn-danger btn-sm">Unfollow</button>
                  {% else %}
                      <button type='submit' class="btn btn-outline-dark" style="z-index: 1;" data-mdb-ripple-color="dark", name='user_id', value='{{profile.id}}',
                      class ="btn btn-primary btn-sm">Follow</button>
                  {% endif %}
                {% else %}
                <a href="{% url 'users:login' %}"class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                  style="z-index: 1;">
                  Login
                </a>
                {% endif %}
                </div>
                <div class="px-3">

                </div>
                <div>

                </div>
              </div>
            </div>
            <div class="card-body p-4 text-black">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0">Blogs</p>
              </div>
              <div class="row g-2">
                <div class="col mb-2">
                    {% for post in posts %}
                    <div class="post block">
                        <h2 class="subtitle">{{post.title}}</h2>
            
                        <small>Posted by {{post.author}} at {{ post.date_created }}</small>
            
                        <p>{{post.intro}}</p>
                        <a href="{% url 'posts:postDetail' post.id %}">Read More</a>
                    </div>
                {% endfor %}
                </div>
              </div>
            </div>

            <div class="card-body p-4 text-black">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0">Followers</p>
              </div>
              <div class="row g-2">
                <div class="col mb-2">
                    {% for p in profile.following.all %}
                    <div class="post block">
                        <a href="{% url 'users:profile' p.id %}">{{p.email}}</a>
                    </div>
                {% endfor %}
                </div>
              </div>
            </div>
            <div class="card-body p-4 text-black">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0">Following</p>
              </div>
              <div class="row g-2">
                <div class="col mb-2">
                    {% for p in profile.followers.all %}
                    <div class="post block">
                        <a href="{% url 'users:profile' p.id %}">{{p.email}}</a>
                    </div>
                {% endfor %}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  {% for msg in messages %}
<div class="alert alert-success" role="alert">
    {{ msg }}
  </div>
{% endfor %}

  {% endblock content %}